Temp/*
Library/*
.idea/*
.vs/*
.vsc/*
obj/*
Logs/*
AssetBundles/*
Assets/Shaders/Test*.shader
Assets/Shaders/Test*.shader.meta
Assets/Materials/Test*.mat
Assets/Materials/Test*.mat.meta
Assets/TestResources/*
Assets/TestResources.meta
Assets/Scenes/SampleScene.unity
Assets/Scenes/SampleScene.unity.meta
*.sln
*.user
*.csproj
